/* Global Styles */
html{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
    background-color: #F7F7F8;
}

*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #FCFCFD; */
}

header {
    padding: 0 0 1.1rem;
    width: 100%;
    border-bottom: 1px solid #F1F1F3;
    background-color: #fff;
    z-index: 9;
    box-sizing: border-box;
}

main {
    margin: 0 4rem;
    #F7F7F8

}


/* h1 {
    display: flex;
    justify-content: center;
    align-items: center;
} */

h2 {
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
}

h3 {
    font-size: 1rem;
    margin-block-end: 1em;
    margin-block-start: 1em;
    font-weight: 500;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}


/* Header Styles */
.alert {
    background-color: #FF9500;
    color: white;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.advertise {
    /* display: inline; */
    /* margin: 0 auto; */
    text-align: center;
    width: 100%;
    line-height: 30px;
}


#logo {
    margin-left: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
}

header .row {
    /* gap: 1rem; */
    position: relative;
    align-items: center;
    flex-wrap: wrap;
}

header .row nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-content: center; */
    justify-content: flex-start;
    /* align-items: center; */
    /* gap: 1.5rem;  */
    flex-grow: 1;
    margin-left: 1rem;
}

nav a {
    color: #262626;
    line-height: 100%;
    padding: 1rem;
    border-radius: 5px;
    /* justify-content: center; */
    box-sizing: border-box;
}

nav a:hover {
    background-color: #F1F1F3;
    /* padding: 1rem; */
}

.row .user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
}

.row .user .signup {
    color: #262626;
    margin-right: 1rem;
    /* padding: 0.3rem; */
}

.row .user .signup:hover {
    text-decoration: underline;
    color: #FF9500;
}

.row .user .login {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 5px;
    background-color: #FF9500;
    color: #fff;
    line-height: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #FF9500;
}

header .row .user .login:hover {
    background-color: #FFF4E5;
    color: #262626;
    border: 1px solid #FF9500;
}



/* Hero/Banner Styles */
.fa-arrow-right {
    color: #FF9500;
    font-size: 3rem;
    margin: 0 auto;
    width: 100%;
}

#start .start-main .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

#start .start-main .banner .bannersub {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    border: 1px solid #F1F1F3;
    /* width: fit-content; */
    border-radius: 5px;
    position: relative;
    padding: 1rem;
}

/* TRIAL STARTS */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* overflow: hidden; */
    position: relative;
    margin: 0 auto;
    /* box-sizing: border-box; */
}

#line {
    position: absolute;
    top: -30px;
    left: -33px;
    width: auto;
    max-width: 100%;
}

/* .bannerlogo {
    display: flex;
    flex-grow: 1;
} */

/* TRIAL END */

/* .banner #line {
    width: 39px;
    height: 43px;
    position: absolute;
    left: -20.5rem;
    top: -3.6rem;
} */

.start .bannersub {
    justify-content: inline-block;
    gap: 10px;
    flex-wrap: nowrap;
}

.banner .unlock{
    color: #FF9500;
}

.banner h1 {
    font-size: clamp(0.5rem, 4vw, 2rem);
    font-weight: 600;
    display: flex;
    /* justify-content: center; */
    /* max-width: 100%; */
    /* white-space: wrap;
    align-items: center; */
}

/* .banner h1 .unlock {
    display: flex;
    flex-grow: 1;
    justify-self: center;
    align-self: center;
} */

/* TRIAL EDIT AD WIDTH POSITION */
.bannersub {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    max-width: 90%;
}

.banner .bannersub p {
    align-self: stretch;
    color: #262626;
    text-align: center;
}

.bannerlink {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.banner .bannerlink .explore {
    border-radius: 5px;
    border: 1px solid #FF9500;
    padding: 1rem;
    background-color: #FF9500;
    color: #fff;
    text-align: center;
}

.banner .bannerlink .explore:hover {
    background-color: #FFF4E5;
    color: #262626;
    border: 1px solid #FF9500;
}

.banner .bannerlink .pricing {
    border-radius: 5px;
    padding: 1rem 1.5rem;
    background-color: #fff;
    color: #000;
    text-align: center;
    border: 1px solid #F1F1F3;
}

.banner .bannerlink .pricing:hover {
    background-color: #F1F1F3;
    border: 1px solid #262626;
    color: #262626;
}

.brand-items {
    padding: 1rem;
    /* margin: 0 3rem; */
    flex-wrap: nowrap;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: #fff;
    /* margin-inline-start: 4rem;
    margin-inline-end: 4rem; */
    width: 100%;
    justify-content: center;
    align-items: center;
}

.brand-items .item {
    display: flex;
    padding: 1.8rem;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 0.5;
    /* flex-shrink: 2; */
}


.item:not(:last-child) {
    border-right: 1px solid #F1F1F3;
}

.brand-items .item img {
    object-fit: contain;
    min-width: 100%;
    height: auto;
    /* min-width: ; */
}

#hero img{
    overflow: auto;
    object-fit: contain;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    padding: 2rem 0;
}

/* Benefits Section Styles */

#benefits .row-top, 
#courses .row-top, 
#testimonials .row-top,
#pricing .row-top {
    display: flex;
    /* align-items: center; */
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

#benefits .row-top p,
#courses .row-top p,
#testimonials .row-top p,
#pricing .row-top p {
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 300;
}

#benefits .row-top a,
#courses .row-top a,
#testimonials .row-top a,
#pricing .row-top a {
    font-size: 0.9rem;
    margin-top: 1rem;
    display: flex;
    text-decoration: none;
    white-space: nowrap;
    color: #262626;
    font-weight: 500;
    background: #FCFCFD;
    padding: 0.5rem;
    height: 2rem;
    /* width: 4rem;
    padding: 5px; */
    border-radius: 6px;
    border: 1px solid #F1F1F3;
}

/* #benefits .row-top a:hover
#courses .row-top a:hover
#testimonials .row-top a:hover {
    background-color: #F1F1F3;
    border: 1px solid #262626;
    color: #262626;
} */

#benefits .row-top a:hover,
#courses .row-top a:hover,
#testimonials .row-top a:hover {
    background-color: #F1F1F3;
    border: 1px solid #262626;
    color: #262626;
}

/* @media screen and (min-width: 600px) and (max-width: 992px) {
    .card1, .card2, .card3, .card4, .card5, .card6 {
        display: flex;
        flex-direction: column;
        width: calc((100% - 20px) / 2);
        border-radius: 6px;
        background: #fff;
        padding: 0.5rem;
        height: 2rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .card1, .card2, .card3, .card4, .card5, .card6 {
        width: 100%;
        border-radius: 6px;
        background: #fff;
        padding: 0.5rem;
        height: 2rem;
    }
}

@media screen and (max-width: 319px) {
    .card1, .card2, .card3, .card4, .card5, .card6 {
        width: 100%;
        border-radius: 12px;
        background: #fff;
        padding: 0.5rem;
        height: 2rem;
    }
} */

/* .card1 .card2 .card3 .card4 .card5 .card6 {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
} */

.grid {
    display: grid;
    margin-top: 3rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(auto-fit, 2fr);
    grid-template-rows: repeat(auto-fit, 0.5fr);
    gap: 9px;
    /* grid-column-gap: 9px;
    grid-row-gap: 9px; */
}

.grid p {
    font-size: 1rem;
    font-weight: 200;
    line-height: 150%;
}

.number {
    display: block;
    text-align: right;
    font-size: 2.5rem;
    font-weight: 600;
}

.card1 {
    grid-area: 1 / 1 / 2 / 2;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
}

.card2 {
    grid-area: 1 / 2 / 2 / 3;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
}

.card3 {
    grid-area: 1 / 3 / 2 / 4;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
}

.card4 {
    grid-area: 2 / 1 / 3 / 2;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
}

.card5 {
    grid-area: 2 / 2 / 3 / 3;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
}

.card6 {
    grid-area: 2 / 3 / 3 / 4;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
}

.grid .card1 svg,
.grid .card2 svg,
.grid .card3 svg,
.grid .card4 svg,
.grid .card5 svg,
.grid .card6 svg {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    margin-left: auto;
    padding: 1rem;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    /* gap: 0.3rem;
    width: 1.4rem;
    height: 26; */
    border-radius: 6px;
    box-sizing: content-box;
    border: 1px solid #F1F1F3;
    background: #FCFCFD;
}

@media screen and (max-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(3, 0.5fr);
        grid-column-gap: 9px;
        grid-row-gap: 9px;
    }

    .card1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .card2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .card3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .card4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .card5 {
        grid-area: 3 / 1 / 4/ 2;
    }
    .card6 {
        grid-area: 3 / 2 / 4 / 3; 
    }
}

@media screen and (max-width: 640px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 5fr);
        grid-column-gap: 9px;
        grid-row-gap: 9px;
    }
        
    .card1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .card2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .card3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .card4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .card5 {
        grid-area: 5 / 1 / 6 / 2;
    }
    .card6 {
        grid-area: 6 / 1 / 7 / 2;
    }
}


main #benefits .container .intro,
main #courses .container .intro,
main #testimonials .container .intro,
main #pricing .container .intro {
  /* gap: 20px 250px; */
  justify-content: flex-start;
}

.grid > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* .course-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
} */

.course-info p {
    flex-grow: 1;
    min-height: 5rem;
}

.icon {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon svg:hover {
    background-color: #FFF4E5;
    color: #262626;
    border: 1px solid #FF9500;
}

/* .grid .icon img:hover {
    background-color: #FFF4E5;
    color: #262626;
    border: 1px solid #FF9500;
} */

/* Courses Section Styles */
.coursegrid {
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 9px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.coursegrid p {
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 150%;
}
    
.course1 {
    grid-area: 1 / 1 / 2 / 2;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
}

.course2 {
    grid-area: 1 / 2 / 2 / 3;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
}

.course3 {
    grid-area: 2 / 1 / 3 / 2;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
}

.course4 {
    grid-area: 2 / 2 / 3 / 3;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
}

.course5 {
    grid-area: 3 / 1 / 4 / 2;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
}

.course6 {
    grid-area: 3 / 2 / 4 / 3;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
}

#courses img {
    overflow-clip-margin: content-box;
    width: 100%;
    margin-bottom: 1rem;
}

/* .data .sub-row,  .author {
    display: flex;
    gap: 10px;
    color: #4C4C4D;
    font-size: 1rem;
    justify-content: space-between;
} */

/* .data .author {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    align-items: flex-end;
} */

.coursegrid > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.course-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.course-info p {
    flex-grow: 1;
    min-height: 5rem;
}

.cardbtn {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sub-row {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.author {
    font-size: 0.7rem;
    font-weight: 300;
}

.data .level, .week {
    background-color: #FFF;
    border: 1px solid #F1F1F3;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    font-size: 0.6rem;
}

.course-info a {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F1F1F3;
    text-decoration: none;
    color: #262626;
    padding: 0.6rem;
    border-radius: 3px;
    border: 1px solid #F1F1F3;
    align-self: stretch;
    flex-grow: 1;
    margin-top: 1.2rem;
    font-size: 0.8rem;
}

.course-info a:hover {
    background-color: #FFF4E5;
    color: #262626;
    border: 1px solid #FF9500;
}

/* Courses Responsive Sizing */

/* @media screen and (max-width: 800px) {
    .coursegrid {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(3, 0.5fr);
        grid-column-gap: 9px;
        grid-row-gap: 9px;
    }

    .course1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .course2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .course3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .course4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .course5 {
        grid-area: 3 / 1 / 4/ 2;
    }
    .course6 {
        grid-area: 3 / 2 / 4 / 3; 
    }
} */

@media screen and (max-width: 640px) {
    .coursegrid {
        display: grid;
        grid-template-columns: 1.5fr;
        grid-template-rows: repeat(6, 3fr);
        /* grid-column-gap: 9px; */
        grid-row-gap: 9px;
    }
        
    .course1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .course2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .course3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .course4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .course5 {
        grid-area: 5 / 1 / 6 / 2;
    }
    .course6 {
        grid-area: 6 / 1 / 7 / 2;
    }
}

/* Tesimonial Section Styles */
.gridtest {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-column-gap: 9px;
    grid-row-gap: 9px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.review {
    display: flex;
    flex: 0 1 auto;
    align-self: stretch;
    /* flex-grow: 1; */
}

.sarah p,
.jason p,
.emily p,
.michael p {
    padding: 2rem;
    display: flex;   
}

.cite {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.client {
    padding: 1rem;
    display: flex;
    flex-shrink: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    /* border-radius: 10px; */
    background: #FCFCFD;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    /* max-height: auto; */
    flex: 1 auto;
    /* gap: 20px; */
    /* justify-content: space-between; */
}

/* .client img {
    margin-top: 1rem;
} */

.client .author {
    display: flex;
    align-items: center;
    padding-left: 0.4rem;
    font-weight: 600;
}

.client .story {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
    /* align-items: flex-end; */
}

.sarah {
    grid-area: 1 / 1 / 2 / 2;
    background: #fff;
    /* padding: 2rem; */
    border-radius: 10px;
    border: 1px solid #F1F1F3;
    display: flex;
    flex-direction: column;
}

.jason {
    grid-area: 1 / 2 / 2 / 3;
    background: #fff;
    /* padding: 2rem; */
    border-radius: 10px;
    border: 1px solid #F1F1F3;
    display: flex;
    flex-direction: column;
}

.emily {
    grid-area: 2 / 1 / 3 / 2;
    background: #fff;
    /* padding: 2rem; */
    border-radius: 10px;
    border: 1px solid #F1F1F3;
    display: flex;
    flex-direction: column;
}

.michael {
    grid-area: 2 / 2 / 3 / 3;
    background: #fff;
    /* padding: 2rem; */
    border-radius: 10px;
    border: 1px solid #F1F1F3;
    display: flex;
    flex-direction: column;
}

.gridtest p {
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 150%;
}

.story {
    display: flex;
    align-self: flex-end;
}

.story a {
    background: #F7F7F8;
    /* width: 22%; */
    justify-content: center;
    padding: 0.6rem;
    text-align: center;
    font-size: 0.7rem;
    margin: 0 auto;
    /* box-sizing: border-box; */
    border: 1px solid #F1F1F3;
    text-decoration: none;
    color: #262626;
    display: flex;
    border-radius: 3px;
    flex-direction: row;
    gap: 4rem;
    align-items: flex-end;
    box-sizing: content-box;
}

.story a:hover {
    background-color: #F1F1F3;
    border: 1px solid #262626;
    color: #262626;
}

@media screen and (max-width: 640px) {
    .gridtest {
        display: grid;
        grid-template-columns: 1.5fr;
        grid-template-rows: repeat(4, 0.3fr);
        grid-column-gap: 0px;
        grid-row-gap: 9px;
    }
        
    .sarah {
        grid-area: 1 / 1 / 2 / 2;
    }

    .jason {
        grid-area: 1 / 1 / 3 / 3;
    }

    .emily {
        grid-area: 3 / 1 / 4 / 2;
    }

    .michael {
        grid-area: 4 / 1 / 5 / 2;
    }
}


/* .client {
    background: #FCFCFD;
    width: 100%;
    box-sizing: border-box;
} */

/* Toggle Button Styles */

#pricing .row-top p {
    font-weight: 300;
}

.container5 {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5fr;
    grid-column-gap: 9px;
    grid-row-gap: 0px;
    margin-top: 3rem;
}

.features {
    padding: 2rem;
}

.freeplan, .proplan{
    background-color: #FCFCFD;
    padding: 1rem 2rem 2.2rem 2rem;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
    display: flex;
    flex-direction: column;
}

.freeplan .features, 
.proplan .features {
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #F1F1F3;
    display: flex;
    flex-direction: column;
    /* padding: 3rem; */
}

.features span {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    margin-inline-start: 1rem;
}

.container5 h3 {
    text-align: center;
    background-color: #FFF9F0;
    border: 1px solid #FFEACC;
    border-radius: 3px;
    color: #262626;
    padding: 1rem;
}

.features h4 {
    text-align: center;
}

#pricing .money {
    text-align: center;
    padding: 2rem;
}

.price {
    font-size: 3rem;
    font-weight: 500;
}

.getstarted {
    background-color: #FF9500;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1.3rem;
}

.getstarted a {
    color: #fff;
    padding: 1rem;
}

.getstarted a:hover {
    text-decoration: underline;
    font-weight: 700;
    text-transform: uppercase;
}


.freeplan .features-row,
.proplan .features-row {
    padding: 1rem;
    border: 1px solid #F1F1F3;
    border-radius: 4px;
    display: flex;
    margin-top: 1rem;
}

.switch-wrapper {
    position: relative;
    display: inline-flex;
    padding: 4px;
    /* border: 1px solid lightgrey; */
    margin-bottom: 40px;
    border-radius: 10px;
    background: #ffff;
    border: 1px solid #F7F7F8;
 }
  
.switch-wrapper [type="radio"] {
    position: absolute;
    left: -9999px;
}
  
  .switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"],
  .switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"] {
    color: #ffff;
  }
  
  /* .switch-wrapper:hover {
    color: #FF9500;
    text-decoration: underline;
  } */

  /* .switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"]:hover,
  .switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"]:hover {
    background: transparent;
  } */
  
.switch-wrapper [type="radio"]:checked#monthly + label[for="yearly"] ~ .highlighter {
    transform: none;
}
  
.switch-wrapper [type="radio"]:checked#yearly + label[for="monthly"] ~ .highlighter {
    transform: translateX(100%);
}

  
.switch-wrapper label {
    z-index: 1;
    width: 7rem;
    line-height: 32px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    border-radius: 10px;
    transition: color 0.25s ease-in-out;
}
  
.switch-wrapper .highlighter {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    border-radius: 10px;
    background: #FF9500;
    transition: transform 0.25s ease-in-out;
}

#pricing {
    margin-bottom: 3rem;
}

@media screen and (max-width: 800px) {
    .container5 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 5fr);
        grid-column-gap: 0px;
        grid-row-gap: 9px;
    }
}

/* FAQ Section Styles */
.container6 {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 3rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 5fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}

.side h2 {
    font-weight: 600;
}

.faq-btn {
    display: flex;
    border-radius: 5px;
    text-decoration: none;
    color: #262626;
    margin-top: 2rem;
    font-size: 0.8rem;
    background-color: #FFF;
    border: 1px solid #F1F1F3;
    padding: 1rem;
    width: fit-content;
}

.faq-btn:hover {
    background-color: #F1F1F3;
    border: 1px solid #262626;
    color: #262626;
    text-decoration: underline;
}

.faq-list img {
    width: 27px;
    display: flex;
    padding-left: 0.5rem;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 8px;
    padding: 0rem 1rem 1rem 2rem;
    border-bottom: 1px solid #F1F1F3;
    margin-top: 1rem;
    align-items: center;
}

.faq-question img {
    width: 27px;
    display: inline-flex;
    justify-content: space-between;
    padding-left: 0.5rem;
}

.faq-answer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 0.5rem;
    margin-top: 1rem;
    align-items: center;
    color: #4C4C4D;
    font-weight: 300;
    font-size: 0.8rem;
}

.faq-more img{
    width: 30px;
    display: inline-flex;
    justify-content: space-between;
}

.faq-more {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #F7F7F8;
    border: 1px solid #F1F1F3;
    border-radius: 8px;
    padding: 1rem 1rem 1rem 2rem;
    margin-top: 1rem;
    align-items: center;
    
}

.faq1 {
    display: flex;
    border: 1px solid #F1F1F3;
    border-radius: 10px;
    font-size: 0.8rem;
    justify-content: space-between;
    padding: 0.8rem;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: space-between;
}

.question {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    padding: 0.8rem;
    border: 1px solid #F1F1F3;
    border-radius: 10px;
    align-items: center;
    margin-top: 1rem;
    font-weight: 300;
}

.side {
    grid-area: 1 / 1 / 2 / 2;
}

.side p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    font-weight: 300;
}

.faq-list {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

@media screen and (max-width: 640px) {
    .container6 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 5fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
        
    .side {
        grid-area: 1 / 1 / 2 / 2;
    }

    .faq-list {
        grid-area: 2 / 1 / 3 / 2;
    }
}


/* Footer Styles */
footer {
    background-color: #FFF;
    padding: 3rem 5rem;
    /* display: flex; */
    flex-grow: 1;
    width: 100%;
}

#foot-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 2fr;
    grid-template-rows: 5fr 0.5fr;
    grid-column-gap: 19px;
    grid-row-gap: 0px;
}

.foot-title h4 {
    font-weight: 500;
}

/* Footer Contact Info */
.footer-one {
    grid-area: 1 / 1 / 2 / 2;
}

footer .logo img {
    width: 40px;
}

.footer-contact {
    padding: 2rem 0;
}

.footer-icon {
    padding: 0.4rem 0;
}

/* Footer Home Nav*/
.footer-home {
    grid-area: 1 / 2 / 2 / 3;
    flex-grow: 1;
}

.footer-home .foot-links a,
.footer-about .foot-links a {
    display: block;
    padding: 0.4rem 0;
    line-height: 100%;
    color: #262626;
    flex-grow: 1;
}

.foot-links {
    margin-top: 1rem;
    font-size: 0.8rem;
    flex-grow: 1;
}

.foot-links a:hover {
    color: #FF9500;
    text-decoration: underline;
    font-weight: 600;
}

/* Footer About Nav */
.footer-about {
    grid-area: 1 / 3 / 2 / 4;
    flex-grow: 1;
}


/* Footer Social Profiles */
.footer-social {
    grid-area: 1 / 4 / 2 / 5;
    text-align: center;
    flex-grow: 1;
}

.footer-social img {
    width: 40px;
    margin-top: 1rem;
}

.footer-social img:hover {
    border: 1px solid #FF9500;
}

.copyright {
    grid-area: 2 / 1 / 3 / 5;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


/* .footer-contact {
    display: inline-flex;
    flex-direction: column;
} */

.contact-info {
    font-size: 0.9rem;
}

.footercontent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* ********** COURSES PAGE STYLES ************ */

#fundamentals {
    background-color: #FFFFFF;
    border: 1px solid #F1F1F3;
    border-radius: 10px;
    display: flex;
}

.webdev {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    width: fill;
    padding: 3rem;
    flex-direction: row;
}
