html{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
    background-color: #F7F7F8;
}

*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alert {
    background-color: #FF9500;
    color: white;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.advertise {
    /* display: inline; */
    /* margin: 0 auto; */
    text-align: center;
    width: 100%;
    line-height: 30px;
}

/* .advertise {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3rem; 
    position: relative;
    align-items: center;
} */

/* .logobox {
    background-color: #FF9500;
    width: fit-content;
    padding: 0.22rem;
    border-radius: 5px;
    margin-top: 2rem;
} */

main {
    margin: 0 4rem;
}

header {
    padding: 0 0 1.1rem;
    width: 100%;
    border-bottom: 1px solid #F1F1F3;
    background-color: #fff;
    z-index: 9;
    box-sizing: border-box;
}

#logo {
    margin-left: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
}

header .row {
    /* gap: 1rem; */
    position: relative;
    align-items: center;
    flex-wrap: wrap;
}

header .row nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-content: center; */
    justify-content: flex-start;
    /* align-items: center; */
    /* gap: 1.5rem;  */
    flex-grow: 1;
    margin-left: 1rem;
}

nav a {
    color: #262626;
    line-height: 100%;
    padding: 1rem;
    border-radius: 5px;
    /* justify-content: center; */
    box-sizing: border-box;
}

nav a:hover {
    background-color: #F1F1F3;
    /* padding: 1rem; */
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}

header .row .user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
}

header .row .user .signup {
    color: #262626;
    margin-right: 1rem;
    /* padding: 0.3rem; */
}

header .row .user .signup:hover {
    text-decoration: underline;
    color: #FF9500;
}

header .row .user .login {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 5px;
    background-color: #FF9500;
    color: #fff;
    line-height: 100%;
    padding: 1rem;
    border-radius: 5px;
}

header .row .user .login:hover {
    background-color: #FFF4E5;
    color: #262626;
    border: 1px solid #FF9500;
}

.fa-arrow-right {
    color: #FF9500;
    font-size: 3rem;
    margin: 0 auto;
    width: 100%;
}

#start .start-main .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

#start .start-main .banner .bannersub {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    width: fit-content;
    border-radius: 5px;
    position: relative;
    padding: 1rem;
}

.banner #line {
    width: 39px;
    height: 43px;
    position: relative;
    left: -39.5rem;
    top: -3.6rem;
}

.banner .unlock{
    color: #FF9500;
}

.banner h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
}

h3 {
    font-size: 1.2rem;
    margin-block-end: 1em;
    margin-block-start: 1em;
    font-weight: 500;
}

.banner .bannersub p {
    align-self: stretch;
    color: #262626;
    text-align: center;
}

.bannerlink {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.banner .bannerlink .explore {
    border-radius: 5px;
    padding: 1rem;
    background-color: #FF9500;
    color: #fff;
    text-align: center;
}

.banner .bannerlink .pricing {
    border-radius: 5px;
    padding: 1rem 1.5rem;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.brand-items {
    padding: 1rem;
    /* margin: 0 3rem; */
    flex-wrap: nowrap;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: #fff;
    /* margin-inline-start: 4rem;
    margin-inline-end: 4rem; */
    width: 100%;
    justify-content: center;
    align-items: center;
}

.brand-items .item {
    display: flex;
    padding: 1.8rem;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 0.5;
    /* flex-shrink: 2; */
}


.item:not(:last-child) {
    border-right: 1px solid #F1F1F3;
}

.brand-items .item img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

#hero img{
    overflow: auto;
    object-fit: contain;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    padding: 2rem 0;
}

/* Benefits Section Styles */

.row-top {
    display: flex;
    /* align-items: center; */
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.row-top p {
    margin-right: 1rem;
    margin-top: 1rem;
}

.row-top a {
    font-size: 0.9rem;
    margin-top: 1rem;
    display: flex;
    text-decoration: none;
    white-space: nowrap;
    color: #262626;
    font-weight: 500;
    background: #FCFCFD;
    padding: 0.5rem;
    height: 2rem;
    /* width: 4rem;
    padding: 5px; */
    border-radius: 6px;
    border: 1px solid #F1F1F3;
}

.grid {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-column-gap: 9px;
    grid-row-gap: 9px;
}

.grid p {
    font-size: 1rempx;
    font-weight: 200;
    line-height: 150%;
}

.number {
    display: block;
    text-align: right;
    /* align-self: flex-end; */
    font-size: 2.5rem;
    font-weight: 600;
}

.card1 {
    grid-area: 1 / 1 / 2 / 2;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    /* padding-bottom: 8rem; */
}

.card2 {
    grid-area: 1 / 2 / 2 / 3;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    /* padding-bottom: 8rem; */
}

.card3 {
    grid-area: 1 / 3 / 2 / 4;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    /* padding-bottom: 8rem; */
}

.card4 {
    grid-area: 2 / 1 / 3 / 2;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    /* padding-bottom: 8rem; */
}

.card5 {
    grid-area: 2 / 2 / 3 / 3;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    /* padding-bottom: 8rem; */
}

.card6 {
    grid-area: 2 / 3 / 3 / 4;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    /* padding-bottom: 8rem; */
}

.grid .card1 svg,
.grid .card2 svg,
.grid .card3 svg,
.grid .card4 svg,
.grid .card5 svg,
.grid .card6 svg {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    margin-left: auto;
    padding: 1rem;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    /* gap: 0.3rem;
    width: 1.4rem;
    height: 26; */
    border-radius: 6px;
    box-sizing: content-box;
    border: 1px solid #F1F1F3;
    background: #FCFCFD;
}


/* .row-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
} */

/* a {
    text-decoration: none;
} */

/* #benefits {
    width: calc(100% - 125px);
    margin: auto;
} */

/* .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
} */

/* .section-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* .row-top{
    display: flex;
    align-items: flex-end;
    gap: 300px;
    align-self: stretch;
} */

/* .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

/* #benefits .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
} */

/* #benefits .section-top a {
    color: #262626;
    text-align: center;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    align-self: flex-end;
    margin-left: auto;
    gap: 8px;
    width: 4rem;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #F1F1F3;
    background: #FCFCFD;
} */



/* p {
    display: flex;
    flex: 1;
} */


/* .view {
    display: inline-flex;
} */

/* .section-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} */

/* #benefits p {
    margin-top: 1rem;
}

#benefits .row-top a {
    display: flex;
    flex-direction: row;
} */

/* main .container .row-top {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
} */

/* .section-top {
    display: flex;
    column-gap: 3rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
} */

/* .view a {
    display: flex;
    align-self: flex-end;
} */

/* .row-top {
    display: flex;
    flex-wrap: wrap;        
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px 20px;
    align-items: flex-start;
    flex-direction: column;
} */

/* .view {
    background-color: #FCFCFD;
    border: 1px solid #F1F1F3;
    padding: 1px;
} */

/* main #benefits .container .row-top a, main #courses .container .row-top a, main #testimonials .container .row-top a {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: rgba(38, 38, 38, 1);
    background-color: rgba(252, 252, 253, 1);
    padding: 14px 20px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 243, 1);
    flex-basis: 200px;
} */

/* .row-top p {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    flex-grow: 1;
} */

main #benefits .container .intro,
main #courses .container .intro,
main #testimonials .container .intro,
main #pricing .container .intro {
  gap: 20px 250px;
  justify-content: flex-start;
}


/* Toggle Button Styles */

.switch-wrapper {
    position: relative;
    display: inline-flex;
    padding: 4px;
    /* border: 1px solid lightgrey; */
    margin-bottom: 40px;
    border-radius: 10px;
    background: #ffff;
  }
  
  .switch-wrapper [type="radio"] {
    position: absolute;
    left: -9999px;
  }
  
  .switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"],
  .switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"] {
    color: #ffff;
  }
  
  /* .switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"]:hover,
  .switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"]:hover {
    background: transparent;
  } */
  
  .switch-wrapper
    [type="radio"]:checked#monthly
    + label[for="yearly"]
    ~ .highlighter {
    transform: none;
  }
  
  .switch-wrapper
    [type="radio"]:checked#yearly
    + label[for="monthly"]
    ~ .highlighter {
    transform: translateX(100%);
  }
  
  .switch-wrapper label {
    z-index: 1;
    width: 7rem;
    line-height: 32px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    border-radius: 10px;
    transition: color 0.25s ease-in-out;
  }
  
  /* .switch-wrapper label:hover {
    background: var(--lightgray);
  } */
  
  .switch-wrapper .highlighter {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    border-radius: 10px;
    background: #FF9500;
    transition: transform 0.25s ease-in-out;
  }